
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.auth-container {
  background: white;
  padding: 40px;
  width: 510px;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
  position: relative;
  text-align: center;
}

.auth-container h2 {
  margin-bottom: 20px;
}

.auth-container input {
  width: 96%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.auth-btn {
  width: 100%;
  padding: 10px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.auth-btn:hover {
  background: #4338ca;
}

.switch-text {
  margin-top: 15px;
  font-size: 14px;
}

.switch-text span {
  color: #4f46e5;
  cursor: pointer;
  font-weight: bold;
}

.close-btn {
  position: absolute;
  color: black;
  top: 10px;
  right: 15px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}
.role-dropdown {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: white;
  font-size: 14px;
}